.containplatform {
  background-color: rgb(228, 228, 228);
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.platformText {
  background-color: rgb(244, 244, 244);
  padding: 10px;
  border-radius: 10px;
}

.smartPlatform{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width: 700px) {
    .containplatform {
        width: 50%;
      }
  }