
.containplatform{
    background-color: rgb(228, 228, 228);
    padding: 10px;
border-radius: 5%;
}

.platformText{
    background-color: rgb(244, 244, 244);
    padding: 10px;
    border-radius: 5%;

}