.containSocial {
  background-color: white;
  width: 89%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.socialMediaLogo{
    width: 34%;
    ma
}
@media screen and (min-width: 700px) {
  .containSocial {
    width: 48%;
    flex-direction: row-reverse;

  }
}
