.containSocial {
  background-color: white;
  width: 89%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .containSocial {
    width: 48%;
    flex-direction: ro;

  }
}
