.logo{
    width: 50%;
    margin: 20px 10px;
}
.circle{
    background-color: rgb(228, 228, 228);
    width: 10%;
    height: 50px;
    border-radius: 50%;

}
@media screen and (min-width: 700px) {
    .logo {
        width: 30%;
      }
  }