.logo{
    width: 50%;
    margin: 20px 10px;
}
.circle{
    background-color: rgb(228, 228, 228);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: -78px;
    margin-bottom: 20px;

}
@media screen and (min-width: 700px) {
    .logo {
        width: 30%;
      }
  }