.ApiTop{
    background: #2b2f3b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 10px;
}
.projButton{
    background-color: aliceblue;
    color: black;
}
.circlieLittle{
    background-color: #32a4bf;
}