.ApiTop{
    background: #2b2f3b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 10px;
}
.projButton{
    background-color: aliceblue;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    direction: rtl;
}
.containtxttitle{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
}
.circlieLittle{
    background-color: #32a4bf;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 6px;
}
.containApI{
    width: 100%;
}
.platforntxt{
    font-size: 0.75rem;
    font-weight: 400;
}
.containplatform1{
    background-color: rgb(228, 228, 228);
    padding: 1rem;
    border-radius: 10px;
    width: 90%;
    text-align: right;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 700px) {
    .containplatform {
      width: 50%;
    }
  }