@font-face {
    font-family: iransansdn;
    font-weight: 100;
    src: url('/src/fonts/IRANSansWeb.ttf');
}
@font-face {
    font-family: iransansdn;
    font-weight: bold;
    src: url('./fonts/IRANSansWeb_Bold.ttf');
    src: url('/src/fonts/IRANSansWeb.ttf');

}
*{
    font-family:iransansdn ;
    user-select: none;
}
