.containWays{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
}
.picMainWay{
    background-color: ;
}
@media screen and (min-width: 1200px) {
 
    .containWays{
        flex-direction: row;
    }
}